.left-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}
.right-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.first-img{
    width: 100%;
    height: fit-content;
    /* height: 45vh; */
    
}
.second-img{
    width: 100%;
    height: fit-content;
    /* height: 33vh; */
   
}